# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.pl text
*.h text
*.txt text
*.c text
*.h text
*.pex text
*.md text

# Declare files that will always have CRLF line endings on checkout.
*.asm text eol=crlf
*.a48 text eol=crlf
*.a86 text eol=crlf
*.a28 text eol=crlf
*.inc text eol=crlf
*.bat text eol=crlf
*.pl? text eol=crlf
*.lit text eol=crlf
*.sln text eol=crlf
*.ext text eol=crlf
*.vcproj text eol=crlf
makefile text eol=crlf
makefile.* text eol=crlf
*.mac text eol=crlf
*.csd text eol=crlf
*.src text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.exe binary
*.com binary
*.lib binary
*.ov? binary
*.86 binary
*.286 binary
*.lb2 binary
*.docx binary
*.pdf binary
*.xls binary
