*.idb
*.idc
*.ipx
*.obj
.extract
.vs
Win32
x64
/asm80-c/cvt.pl
/funcmap
/isis.ext
/ixref.idb
/mkdependt.pl
/mkpub.bat
/OMF 51.docx
/repack.pl
/src/a.pl
/src/allmake.csv
/src/allmake.ts
/src/depend.pl
/src/dump.pl
/src/dump2.pl
/src/extern.csv
/src/extern.pl
/src/extern.xlsx
/src/fdep.pl
/src/fwddep.txt
/src/fwddep.xlsm
/src/fxref
/src/lib.csv
/src/lib.pl
/src/mks.csv
/src/mks.xlsx
/src/order.csv
/src/*/lst
/src/*/obj
/src/*/shared
/src/*/src
/src/remdep.txt
/src/ts.pl
/src/xref
/tools/getjunk.exe
/toolsrc/tools.VC.db
Debug
Release
