#include <windows.h>
#include "version.h"
VS_VERSION_INFO VERSIONINFO
 FILEVERSION FILEVERSION_RC
 PRODUCTVERSION FILEVERSION_RC
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904b0"
        BEGIN
            VALUE "CompanyName", "Mark Ogden"
            VALUE "FileDescription", "Convert AOMF85 to binary"
            VALUE "FileVersion", GITVERSION_STR
            VALUE "InternalName", "obj2bin.exe"
            VALUE "LegalCopyright", COPYRIGHT_STR
            VALUE "OriginalFilename", "obj2bin.exe"
            VALUE "ProductName", "obj2bin"
            VALUE "ProductVersion", FILEVERSION_STR
            VALUE "Comments", GITVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END

